#theform{
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#submitButton{
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#date, #month, #year, #gender{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
footer{
  background-color: #f2f2f2;
  margin-top: 2%;
  height: 30px;
}
#header{
  background-color: #f2f2f2; 
}